/* .div .buyercontainer{
    background: #a4b2b0;
    color: #ffffff;
    font-size: 2rem;
    margin-top: 0;
    border-radius: 0.25em;
}

  */



/* button{
    background-color: green;
}


.hi{
    background: #a4b2b0;
    color: #ffffff;
    font-size: 2rem;
    margin-top: 0;
    border-radius: 0.25em;
}

.hello{
    border: 1px solid orange;
} */


