.container{
    background: #E1DDD3;
    border: 0.5rem solid black;
    border-radius: 40px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;





}

.sButton{
    background: #a4b2b0;
    color: #ffffff;
    font-size: 2rem;
    margin-top: 0;
    border-radius: 0.25em;
}