#body {
    padding: 5px 100px;
}

#images {
    display: inline;
}

.images {
    width: 400px;
    height: 250px;
    padding: 10px;
}

form > table td {
    padding: 10px 80px;
    vertical-align: top;
}